@tailwind base;
@tailwind components;
@tailwind utilities;

/* CENTER OBJECT WHEN CENTER MODE TRUE */
.slick-slide > div {
  display: grid;
  place-items: center;
  margin: auto 5px;
  padding: 0px;
}
