@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-center {
  transform: scale(1.1);
  transition: cubic-bezier(0, 0.99, 0.98, 0.01);
  z-index: 10;
}

.slick-slide > div {
  display: grid;
  place-items: center;
  margin: auto;
  padding: 0px;
}
