@tailwind base;
@tailwind components;
@tailwind utilities;

/* STYLE FOR CENTER MODE REACT SLICK */
/* .slick-center:hover {
  transform: scale(1);
  transition: cubic-bezier(0, 0.99, 0.98, 0.01);
} */

/* CENTER OBJECT WHEN CENTER MODE TRUE */
.slick-slide > div {
  display: grid;
  place-items: center;
  margin: auto 5px;
  padding: 0px;
}
